<launch>
  <node
    pkg="carrot"
    type="wii_stm.py"
    name="test_harness"
    output="screen"
  />
  <node
    pkg="carrot_py"
    type="stm_serial.py"
    name="seriaall"
  />
  <node
    pkg="wiimote"
    type="wiimote_node"
    name="wiimote_controller"
    output="screen"
    required="true"
  />
</launch>
